<ul #dropdownList class="formula__dropdown-list">
  <li *ngFor="let option of options; let idx = index" [ngClass]="{'active' : activeOption.value.num === idx, 'list__item': true}" (click)="setOption(option)" (mouseenter)="activeOption.next({num: idx})" (mouseleave)="activeOption.next({num: -1})" [innerHTML]="option  | searchBold:currentInputValue"></li>
</ul>
