.formula__dropdown-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: black solid 1px;
  border-top: none;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 2;
  background-color: white;
  box-shadow: 1px 1px grey;
  max-height: 200px;

  .list__item {
    cursor: pointer;
    transition: background-color .1s ease-in-out;

  }
}

.active {
  background: #b8b8e3;

}
