.d-flex {
  display: flex;

  .column {
    width: 50%;
  }
}

.input {
  width: 100%;
}

.formula {

  &__input {
    position: relative;
  }

  &__output {
    padding-left: 1rem;
    word-wrap: break-word;
  }
}
