<div class="formula d-flex">
  <div class="column formula__input" tabindex="-1" (focusout)="focus($event)" (focusin)="focus($event)">
    <input type="text" class="input" appInput [placeholder]="placeholder" (click)="updateValue()" (keydown)="keyupHandle($event)" [formControl]="formulaControl">
    <ng-template [ngIf]="this.options.length && this.isInputFocused">
      <app-dropdown-menu [options]="options" [activeOption]="activeOptionSubject" (optionSelect)="setValue($event)" [currentInputValue]="currentInputValue"></app-dropdown-menu>
    </ng-template>
  </div>
  <div class="column formula__output">
    {{ formulaControl.value }}
  </div>
</div>
